﻿@model Basketbal.BL.Domain.Referee
@{
    ViewBag.Title = "Referee Details";
    Layout = "_Layout";
}

<h2>Referee Details</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">RefereeId</th>
        <th class="table-header">Name</th>
        <th class="table-header">UniformNumber</th>
        <th class="table-header">FoulDifferential</th>
        <th class="table-header">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.RefereeId</td>
        <td>@Model.Name</td>
        <td>@(Model.UniformNumber == null ? "Onbekend" : Model.UniformNumber+"")</td>
        <td>@Model.FoulDifferential</td>
        <td>@Model.Type.ToString()</td>
    </tr>
    </tbody>
</table>

