﻿@using Basketbal.BL.Domain
@model IEnumerable<Basketbal.BL.Domain.Referee>

@{
    Layout = "_Layout";
    ViewBag.Title = "Remove Referee";
}
<h2>Select the referee you'd like to remove from this match</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">RefereeId</th>
        <th class="table-header">Name</th>
        <th class="table-header">UniformNumber</th>
        <th class="table-header">FoulDifferential</th>
        <th class="table-header">Type</th>
        <th class="table-header"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Referee referee in @Model)
    {
        <tr>
            <td>@referee.RefereeId</td>
            <td>@referee.Name</td>
            <td>@(referee.UniformNumber == null ? "Onbekend" : referee.UniformNumber+"")</td>
            <td>@referee.FoulDifferential</td>
            <td>@referee.Type.ToString()</td>
            <td><a asp-controller="Match" asp-action="RemoveRefereeFromMatch" asp-route-MatchId="@ViewBag.MatchId" asp-route-RefereeId="@referee.RefereeId">Remove</a></td>
        </tr>   
    }
    </tbody>
</table>