﻿@using Basketbal.BL.Domain
@model Basketbal.BL.Domain.Match

@{
    Layout = "_Layout";
    ViewBag.Title = "Add Match";
}

<h2>Add a Match</h2>

<form asp-controller="Match" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="HomeTeam"></label>
        <input asp-for="HomeTeam" class="form-control">
        <span asp-validation-for="HomeTeam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AwayTeam"></label>
        <input asp-for="AwayTeam" class="form-control">
        <span asp-validation-for="AwayTeam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" type="date" asp-format="dd/MM/yyyy" class="form-control">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit">
</form>