﻿@using Basketbal.BL.Domain
@model Basketbal.BL.Domain.Match

@{
    Layout = "_Layout";
    ViewBag.Title = "Match Details";
}

<h2>Match Details</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">MatchId</th>
        <th class="table-header">Home Team</th>
        <th class="table-header">Away Team</th>
        <th class="table-header">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.MatchId</td>
        <td>@Model.HomeTeam</td>
        <td>@Model.AwayTeam</td>
        <td>@(Model.Date.Equals(null) ? "Not Mentioned" : Model.Date.ToString("dd MMMM yyyy"))</td>
    </tr>
    </tbody>
</table>

<br><br><br><br>
<h2>Referees</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">RefereeId</th>
        <th class="table-header">Name</th>
        <th class="table-header">UniformNumber</th>
        <th class="table-header">FoulDifferential</th>
        <th class="table-header">Type</th>
        <th class="table-header"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Referee referee in @ViewBag.Referees)
    {
        <tr>
            <td>@referee.RefereeId</td>
            <td>@referee.Name</td>
            <td>@(referee.UniformNumber == null ? "Onbekend" : referee.UniformNumber+"")</td>
            <td>@referee.FoulDifferential</td>
            <td>@referee.Type.ToString()</td>
            <td><a asp-controller="Referee" asp-action="Detail" asp-route-refereeId="@referee.RefereeId">Details</a></td>
        </tr>
    }
    </tbody>
</table>