﻿@model Basketbal.BL.Domain.Match
@{
    Layout = "_Layout";
    ViewBag.Title = "Filter Matches";
}

<h2>Enter the franchise and Date of which you'd like to see the matches.</h2><hr>
<form asp-controller="Match" asp-action="MatchesOfFranchiseAndDate" method="post">
    <div class="form-group">
        <label for="franchise">Franchise</label>
        <input type="text" id="franchise" name="franchiseInput" class="form-control">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" name="dateInput" class="form-control">
    </div>
    <input type="submit" value="Submit">
</form>