﻿@using Basketbal.BL.Domain
@model IEnumerable<Basketbal.BL.Domain.Match>

@{
    Layout = "_Layout";
    ViewBag.Title = "Filtered Matches";
}

<h2>Match</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">MatchId</th>
        <th class="table-header">Home Team</th>
        <th class="table-header">Away Team</th>
        <th class="table-header">Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Match match in @Model)
    {
        <tr>
            <td>@match.MatchId</td>
            <td>@match.HomeTeam</td>
            <td>@match.AwayTeam</td>
            <td>@(match.Date.Equals(null) ? "Not Mentioned" : match.Date.ToString("dd MMMM yyyy"))</td>
        </tr>
    }
    </tbody>
</table>