﻿@using Basketbal.BL.Domain
@model IEnumerable<Basketbal.BL.Domain.Match>
@{
    Layout = "_Layout";
    ViewBag.Title = "Remove Referee from Match";
}

<h2>Select the match you'd like to remove a referee from</h2><hr>
<table>
    <thead>
    <tr>
        <th class="table-header">MatchId</th>
        <th class="table-header">Home Team</th>
        <th class="table-header">Away Team</th>
        <th class="table-header">Date</th>
        <th class="table-header"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Match match in @Model)
    {
        <tr>
            <td>@match.MatchId</td>
            <td>@match.HomeTeam</td>
            <td>@match.AwayTeam</td>
            <td>@(match.Date.Equals(null) ? "Not Mentioned" : match.Date.ToString("dd MMMM yyyy"))</td>
            <td><a asp-controller="Referee" asp-action="SelectRefereeToRemoveFromMatch" asp-route-MatchId="@match.MatchId">Select</a></td>
        </tr>   
    }
    </tbody>
</table>